
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&family=Red+Hat+Text:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    font-family: 'Raleway', sans-serif;
    overflow-x: hidden;
    max-width: 2000px;
}
.menu{
    margin: 60px 20px;
}
/*Menu mobile*/
.menu-mobile{
    background: #fff;
    position: fixed;
    z-index: 9999;
    bottom: 0;
    top: 130px;
    width: 100%;
    transform: translateX(-500px);
    opacity: 0;
    transition: all 700ms ease-in;
}

.menu-mobile.active{
    transform: translateX(0px);
    opacity: 1;
    transition: all 700ms ease-in;
}

.links-mobile{
    margin: 20px;
    padding: 30px;
}

.links-mobile ul{
    list-style: none;
}

.links-mobile ul li a{
    text-decoration: none;
    display: block;
    margin-top: 8px;
    text-transform: uppercase;
    color: #545454;
    font-weight: 500;
}

.btnfechar img{
    width: 25px;
    position: absolute;
    top: 30px;
    right: 30px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.logo{
    margin-left: 20px;
    font-family: 'Red Hat Text', sans-serif;
    line-height: 53px;
}


.links ul{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    list-style: none;
}


.links li a{
    margin: 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    color: #000;
    font-size: 22px;
    letter-spacing: 0.08em;
    line-height: 26px;
}

/*Botao do menu*/

.hamburg{
    background: #545454;
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 3px;
    display: none;
}

.btn{
    display: block;
    background: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn::before,
.btn::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
}

.btn::before{
    top: 8px;
}

.btn::after{
    bottom: 8px;
}


/*Produtos*/
#home:before{
    content: '';
    display: block;
    max-width: 80%;
    margin: 20px auto;
    height: 2px;
    border-bottom: 1px solid #8d8d8d;
}
.container{
    max-width: 80%;
    margin: 0 auto;
    padding-bottom: 20px;
}
.container h2{
    margin: 30px -10px;
    padding: 20px 0;
    font-size: 22px;
    line-height: 25,83px;
    font-weight: 500;
    color: #4F4F4F;
    text-transform: uppercase;
}

.produtos{
    display: flex;
    justify-content: center;
    align-content: center;
}

.card{
    max-width: 300px;
    margin: 3px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    flex: 0 0 auto;
    width: 100%;
}

.produto{
    background: #eff1f3;
    display: flex;
    align-content: center;
    justify-content: center;
}

.produto img{
    max-width: 100%;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

.infos{
    background: #c5d7ec;
    padding: 30px;
    height: 150px;
}

.infos p{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: #545454;
    line-height: 16px;
    letter-spacing: 0.08em;
}

.infos .preco{
    position: absolute;
    bottom: 5px;
    right: 14px;
    font-size: 17px;
}

.preco::before{
    content: 'R$';
    font-size: 14px;
}
/*Promoções*/
.promocoes{
    margin: 90px auto;
    max-width: 80%;
}

.promocoes h2{
    margin: 30px -10px;
    font-size: 22px;
    line-height: 25,83px;
    font-weight: 500;
    color: #4F4F4F;
    text-transform: uppercase;
}

.coluna-promo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0px;
}

.promo{
    flex: 0 0 auto;
    width: 90%;
}

.prod img{
    max-width: 100%;
    height: auto;
}

.prod{
    background: #F0F4F8;
    margin-right: 20px;
}
/*Sobre a Acme*/
.sobre{
    margin: 110px auto;
    max-width: 80%;
}

.sobre h2{
    margin: 30px -10px;
    font-size: 22px;
    line-height: 25,83px;
    font-weight: 500;
    color: #4F4F4F;
    text-transform: uppercase;
}

.texto-sobre{
    background: #F0F4F8;
    border-radius: 15px;
    padding: 60px;
    margin: 30px auto;
}

.texto-sobre p{
    color: #4F4F4F;
    font-size: 16px;
    line-height: 22,62px;
    padding: 10px;
}

/*Lojas*/
.lojas{
    margin: 0 auto;
    max-width: 80%;
    padding-bottom: 80px;
}
.lojas h2{
    margin: 30px -10px;
    font-size: 22px;
    line-height: 25,83px;
    font-weight: 500;
    color: #4F4F4F;
    text-transform: uppercase;
}
.coluna-lojas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.infos-loja{
    background: #F0F4F8;
    margin: 10px;
    overflow: hidden;
    border-radius: 15px;
    padding-bottom: 30px;
}
.fachada{
    max-width: 100%;
}
.numloja{
    text-align: center;
    padding: 8px;
}
.endereco{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.endereco p{
    padding: 10px;
}
/*Footer*/
.footer-container{
    background: #F0F4F8;
    overflow: hidden;
    position: relative;
    padding-bottom: 40px;
}
.footer-links{
    margin: 30px 70px;
    padding: 30px;
}
.footer-links ul{
    list-style: none;
}

.footer-links ul li a{
    color: #4F4F4F;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin: 13px 0;
}
.icones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}

.icones img{
    margin: 20px;
}

.direitos{
    float: right;
    margin: 30px;
}
.direitos p{
    padding: 30px;
}
